<form class="container my-3 col-4">
    <h2 *ngIf="tipo == 'new'">Adicionar cliente</h2>
    <h2 *ngIf="tipo == 'edit'">Editar cliente</h2>

    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="cliente.nome" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="idade" class="form-label">Idade:</label>
        <input type="number" class="form-control" id="idade" name="idade" [(ngModel)]="cliente.idade" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="cliente.email" autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="senha" class="form-label">Senha:</label>
        <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="senha" name="senha" [(ngModel)]="cliente.senha" autocomplete="off">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="showPassword" id="showPassword" name="showPassword">
          <label class="form-check-label" for="showPassword">
            Mostrar senha
          </label>
        </div>
    </div>
    <div class="mb-3">
        <h5 for="nome" class="form-label">Endereços do cliente:</h5>
        <app-endereco-list [cliente]="cliente"></app-endereco-list>
    </div>
    <button type="submit" class="btn btn-primary" (click)="salvar()">Salvar</button>
</form>