<form>
	<div class="my-3 row justify-content-between">
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text" autocomplete="off" [formControl]="control" name="busca" (ngModelChange)="filter()" placeholder="Buscar..."/>
		</div>
		<div class="col-xs-3 col-sm-auto">
			<button type="button" class="btn btn-primary" [routerLink]="['/sabores/form']" [queryParams]="{id: undefined, type: 'new'}">Adicionar</button>
		</div>
	</div>
</form>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Sabor</th>
			<th scope="col">Descrição</th>
			<th scope="col">Valor</th>
            <th scope="col" colspan="2">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let sabor of sabores$; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td><ngb-highlight [result]="sabor.nome" [term]="control.value"></ngb-highlight></td>
			<td>{{ sabor.descricao }}</td>
			<td>{{ sabor.valor }}</td>
			<td class="row justify-content-around">
				<button type="button" class="btn btn-info col-3" [routerLink]="['/sabores/form']" [queryParams]="{id: sabor.id, type: 'edit'}">Editar</button>
				<button type="button" class="btn btn-danger col-3">Excluir</button>
			</td>
		</tr>
	</tbody>
</table>