<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Bairro</th>
            <th scope="col">Rua</th>
            <th scope="col">Nº</th>
            <th scope="col" colspan="2">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let endereco of cliente.enderecos; index as i">
			<th scope="row">{{ i + 1 }}</th>
            <td>{{ endereco.bairro }}</td>
			<td><ngb-highlight [result]="endereco.rua" [term]="control.value"></ngb-highlight></td>
            <td>{{ endereco.numero }}</td>
			<td>
				<button type="button" class="btn btn-danger col-5 w-100" (click)="removeEndereco(endereco.id)">
					<span class="material-symbols-outlined">delete</span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<form>
	<div class="my-3 row justify-content-between">
		<div class="col-xs-3 col-sm-auto">
			<button type="button" class="btn btn-info" (click)="openModal(addModal)">
                <span class="material-symbols-outlined">add</span>
            </button>
		</div>
	</div>
</form>

<ng-template #addModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Adicionar endereço</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-endereco-details (retorno)="addEndereco($event)"></app-endereco-details>
	</div>
	<div class="modal-footer">
	</div>
</ng-template>