<form>
	<div class="my-3 row justify-content-between">
		<div class="col-xs-3 col-sm-auto">
			<input id="table-filtering-search" class="form-control" type="text" autocomplete="off" [formControl]="control" name="busca" (ngModelChange)="filter()" placeholder="Buscar..."/>
		</div>
		<div class="col-xs-3 col-sm-auto">
			<button type="button" class="btn btn-primary" [routerLink]="['/produtos/form']" [queryParams]="{type: 'new'}" *ngIf="!pedido">Adicionar</button>
		</div>
	</div>
</form>

<table class="table table-striped" *ngIf="pedido">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Produto</th>
			<th scope="col">Tamanho</th>
			<th scope="col">Sabores <span *ngIf="pizza.tamanho">({{ pizza.sabores.length }}/{{ toNumber(pizza.tamanho) + 1}})</span></th>
			<th scope="col">Obserções</th>
			<th scope="col">Valor</th>
            <th scope="col">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngIf="pedido">
			<th scope="row">-</th>
			<td>Pizza</td>
			<td>
				<select class="form-select col-3" [(ngModel)]="pizza.tamanho">
					<option disabled selected></option>
					<option value=0>P</option>
					<option value=1>M</option>
					<option value=2>G</option>
					<option value=3>GG</option>
				</select>
			</td>
			<td>
				<ul>
					<li class="mt-1" *ngFor="let sabor of pizza.sabores; index as i">
						{{ sabor.nome }}
						<button type="button" class="btn btn-outline-danger" (click)="removeSabor(i)">-</button>
					</li>
				</ul>
				<button type="button" class="btn btn-outline-warning" *ngIf="pizza.sabores.length < toNumber(pizza.tamanho) + 1" (click)="openModal(sabores)">Adicionar</button>
			</td>
			<td>
				<input class="form-control" type="text" [(ngModel)]="pizza.observacao">
			</td>
			<td>R$ {{ pizza.valor }}</td>
			<td class="col-3">
				<button type="button" class="btn btn-outline-primary w-100" (click)="select(pizza)" [disabled]="pizza.sabores.length > toNumber(pizza.tamanho) + 1">Selecionar</button>
				<small class="text-danger" *ngIf="pizza.sabores.length > toNumber(pizza.tamanho) + 1">Quantidade de sabores incoerente com tamanho de pizza selecionado!</small>
			</td>
		</tr>
	</tbody>
</table>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Produto</th>
			<th scope="col">Descrição</th>
			<th scope="col">Valor</th>
            <th scope="col">Opções</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let produto of produtos$; index as i">
			<th scope="row">{{ i + 1 }}</th>
			<td><ngb-highlight [result]="produto.nome" [term]="control.value"></ngb-highlight></td>
			<td>{{ produto.observacao }}</td>
			<td>{{ produto.valor }}</td>
			<td class="row justify-content-around" *ngIf="!pedido">
				<button type="button" class="btn btn-info col-3" [routerLink]="['/produtos/form']" [queryParams]="{id: produto.id, type: 'edit'}">Editar</button>
				<button type="button" class="btn btn-danger col-3" (click)="openModal(excluir, produto)">Excluir</button>
			</td>
			<td class="row justify-content-center" *ngIf="pedido">
				<button type="button" class="btn btn-outline-primary" (click)="select(produto)">Selecionar</button>
			</td>
		</tr>
	</tbody>
</table>

<ng-template #excluir let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Excluir produto</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Tem certeza que deseja excluir o produto <strong><em>{{ produtoSelecionado.nome }}</em></strong> ?</p>
	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" class="btn btn-outline-danger col-2" (click)="delete(produtoSelecionado.id)">Excluir</button>
		<button type="button" class="btn btn-outline-secondary col-2" (click)="modal.close('Close click')">Fechar</button>
	</div>
</ng-template>

<ng-template #sabores let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Adicionar sabor</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<app-sabor-list [produto]="true" (retorno)="addSabor($event)"></app-sabor-list>
	</div>
	<div class="modal-footer">
	</div>
</ng-template>